.productThumb {
    width: 100%;
    height: auto !important;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    padding: 10px 3px;
    transition: all 0.25s ease-in-out;
    position: relative;
    background-color: #fff;
}

.productThumb:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.productThumb .badge {
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block !important;
    background-color: rebeccapurple;
    padding: 8px 12px;
    font-size: 14px;
    z-index: 10;
    color: #fff;
    border-radius: 10px;
    text-transform: capitalize;
}

.productThumb .hot {
    background-color: #f74b81 !important;
}

.productThumb .sale {
    background-color: #67bcee !important;
}

.productThumb .new {
    background-color: #3BB77E !important;
}

.productThumb .best {
    background-color: #f59758 !important;
}

.productThumb .imageWrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.productThumb .discount {
    position: absolute;
    top: 0px;
    left: 10px;
    background-color: #f74b81;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 10;
}

.productThumb .imageWrapper .wrapper {
    height: 300px;
    overflow: hidden;
    padding: 20px !important;
}

.productThumb .imageWrapper img {
    transition: all 0.2s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: contain;
    zoom: 90%;
}

.productThumb:hover .imageWrapper img {
    transform: scale(1.1);
}

.productThumb .CatName {
    color: #000;
    opacity: 0.6;
    font-size: 14px;
}

.productThumb .title {
    margin: 10px 0;
}

.productThumb .title a {
    line-height: 1.2;
    color: #000;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}

.productThumb .brand {
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
}

.productThumb .brand a {
    text-decoration: none;
}

.productThumb .price {
    font-size: 15px;
    font-weight: 800;
    color: #229f65;
    margin-right: 14px;
}

.productThumb .oldPrice {
    font-size: 13px;
    opacity: 0.6;
    color: #000;
    text-decoration: line-through;
}

.productThumb .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.productThumb .info .d-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productThumb button {
    font-size: 15px !important;
    font-weight: 700;
    color: #3bb77e;
    padding: 10px 20px;
    background-color: #cae5d8;
    text-transform: capitalize !important;
    margin: 5px 0;
    border-radius: 5px;
}

.productThumb button svg {
    font-size: 17px;
    margin-right: 4px;
}

.productThumb button:hover {
    background-color: #3bb77e;
    color: #fff;
}

.productThumb .info .buttonContainer {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    width: 100%;
}

.productThumb .info .buttonContainer button {
    flex: 1;
    font-size: 15px !important;
    font-weight: 700;
    color: #fff;
    padding: 10px;
    text-transform: capitalize !important;
    border-radius: 5px;
}

.productThumb .info .buttonContainer .addToCartButton {
    background-color: #3bb77e;
    color: #fff;
    font-size: 12px !important;
}

.productThumb .info .buttonContainer .buyNowButton {
    background-color: #f74b81;
    color: #fff;
}

.productThumb .info .buttonContainer button:hover {
    opacity: 0.9;
}