/* home-styles.css */

.homeProducts {
    padding: 25px 0;
}

.productRow {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.item {
    width: calc(25% - 20px);
    margin: 10px;
}

.homeProductWrapper .productRow .item {
    width: calc(20% - 20px);
}

.slider-item {
    padding: 0 10px;
}

.slick-prev,
.slick-next {
    z-index: 1;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

.newsLetterSection {
    display: none;
}

.topProductSection {
    padding: 35px 0;
}

.filterTab {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px;
}

.filterTab li {
    margin: 5px 15px 5px 0;
    position: relative;
}

.filterTab li a {
    color: #000;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}

.filterTab li a:hover,
.filterTab li a.act {
    color: #3bb77e;
    top: -5px;
}

.homeProductsRow2 .productSlider .item {
    margin-top: 15px;
    padding: 20px 10px 20px 20px;
}

.wide .productThumb .imageWrapper .overlay {
    padding: 5px;
}

/* Responsive styles */
@media (max-width: 1200px) {

    .item,
    .homeProductWrapper .productRow .item {
        width: calc(33.333% - 20px);
    }
}

@media (max-width: 992px) {

    .item,
    .homeProductWrapper .productRow .item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .homeProductWrapper .productRow .item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 576px) {

    .item,
    .homeProductWrapper .productRow .item {
        width: calc(100% - 20px);
    }
}

.slider-container {
    display: block;
}